PASSWORD_FILE=/home/tunnel/files/enc_passwords.gpg

LOCAL_KEY_PATH=/home/tunnel/.ssh/id_rsa
JUMP_KEY_PATH=/home/jump/.ssh/id_rsa

KEY_LEN=4096

LOCAL_USER=tunnel
LOCAL_PORT=1089
PROXY_PORT=1080

SSH_OVERWRITE_PUBLIC_KEY=no
SSH_CONNECT_TIMEOUT=20
SSH_PORT=22

JUMP_HOST=<jump_hostname>
JUMP_USER=jump
JUMP_IP=172.17.0.3

DEST_HOST=<dest_hostname>
DEST_USER=dest
DEST_IP=172.17.0.4
